@media only screen and (max-width: 600px) {
  /* .firstsection{
    /* display: flex; */
    /* justify-content: space-around; */
    
   .firstsection{
   
    justify-content: space-between;
   } 
  
  .leftsection img{
    padding-top:110px ;
    height: 200px ;
    margin-left: 10px;
    margin-right: 0px;
    /* margin: 20px; */
    /* display:flex;
    justify-content: space-between; */
    
  }
  .leftsection .btn1{
    background-color: rgb(7, 14, 51);
    color: white;
    border: 2px solid rgb(96, 61, 176);
    border-radius: 6px;
    cursor: pointer;
    font-size:17px;
    /* padding: 12px; */
    margin-top: 10px;
    margin-left: 20px;
    /* justify-content: space-between; */
}
 .leftsection .btn2{
    margin-left: 60px;
    margin-top: 3px;
    font-size:17px;
    border: 2px solid rgb(96, 61, 176);
 }
  .rightsection{
    font-size: 1.2rem;
  
    padding-top: 120px;
    padding-inline-end: auto;
    padding-inline-start: 0;
    padding-block-end: auto;
    word-spacing: normal;
    margin-left: 0px;
   
}
.secondsection{
  /* justify-content: space-between; */
  padding-top: 20px;
  padding-left: 10px;
}

.float{
  float: right;
  height: 180px;
  margin-left: 0px;
  padding-block-end: auto;
}
  
  
  .leftsection2{
    font-size: 1.2rem;
    padding-left: 10px;
    padding-right: 8px;
    
  }

}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 120px;
  }
  
  .skill-box {
    width: 250px;
    background-color: #190f52;
    padding: 20px;
    margin: 10px;
  }
  
  .skill-box h3 {
    margin-top: 0;
  }
  
  .skill-box p {
    margin-bottom: 0;
  }
  .footer {
    background-color: rgb(7, 14, 48);
    color: white;
    padding: 40px 0;
  }
  
  .footer-content {
   width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  
  .footer-name {
    display: flex;
    align-items: center;
  }
  
  
  .footer-name h3 {
    margin: 0;
  }
  
  .footer-nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-size: 16px;
    background-color:  rgb(7, 14, 48);
    

  }
  
  .footer-social a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    font-size: 18px;
    
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 10px;
  }
  
  .footer-bottom p {
    margin: 0;
    font-size: 14px;
  }
  * a:hover{
    color: rgb(195, 125, 221);
  }

  